html{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
    scroll-behavior: smooth;
    min-width: 500px;
} 

*{
    font-family: 'Cooper black';
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    user-select:none;
    font-size:1rem;
    scroll-behavior: smooth;
}

:root {
    --btn-background : rgb(0, 200, 255);
    --btb-border-text :rgb(5, 92, 116);
    --btn-hover: rgb(123, 226, 255);
}


body{
    background-image: url(../picture/background.jpg);
}

canvas {
    width: 500px;
    height: 600px;
   background-image: url(../picture/play-background.png);
   background-position: 20% 100%;
   background-size: 100% 100%;
}

.canvasDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.canvasDiv2 {
    position:relative;  
    border: 0.5rem solid var(--btb-border-text);
    border-radius: 10px;
    height: 616px;


}
.canvasDiv img {
position: absolute;
top: -1rem;
right: 0rem;
}

.picture {
    display: none;
}

.btn-div{
    display: flex;
    justify-content: center; 
}

.btn {
    background-color: var(--btn-background);
    border:3.5px solid var(--btb-border-text);
    color: var(--btb-border-text);
    font-size: 20px ;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    padding:0px 10px 0px 10px;
    margin:20px;
    cursor: pointer;
    text-decoration: none;
}

img{
    height: 40px;
}
 
.btn:hover{
    background-color: var(--btn-hover);
}

.svg-i{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    margin-top:25px;
    cursor: pointer;
    height: 50px;
    z-index: 1;
}

.svg-i:hover ~ .info-box{
    visibility: visible;
}

.info-box{
    visibility: hidden;
    position: absolute;
    color: var(--btb-border-text);
    background-color: rgba(123, 226, 255,0.9);
    border-radius: 10px;
    padding: 1rem;
    top:0rem;
}

.info-box h3{
    font-size: 1.4rem;
    padding: 0.4rem 0;
}

.info-box h4 {
    padding: .5rem 0;
    margin-left: 2rem;
    font-size: 1.1rem;

}

.info-box h4 ul li {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.restart-btn{
    visibility: hidden;
    position: absolute;
    top:310px;
    right: 35%
}