html{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
    scroll-behavior: smooth;
    min-width: 500px;
} 

* {
    font-family: 'Cooper black';
    margin: 0;
    padding: 0;
    user-select:none;
    box-sizing:border-box;
    font-size:1rem;
    scroll-behavior: smooth;
}

:root {
    --btn-background : rgb(0, 200, 255);
    --btb-border-text :rgb(5, 92, 116);
    --btn-hover: rgb(123, 226, 255);
}

body{
    background-image: url(../picture/background.jpg);
}

header{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

header h1 {
    color: var(--btb-border-text);
    font-size: 5rem;

}

main  {
    display: flex;
    justify-content: center;
    margin: 5rem 2rem 8rem;
}

main .play {
    display: flex;
    flex-direction: column;
    background-color: var(--btn-background);
    border-radius:10px ;
    width: 250px;
    box-shadow: 8px 10px 10px #000000;
    transition-duration: .3s;
}

main div .play:hover{
    width:240px;
    box-shadow: 4px 6px 10px var(--btn-hover);
    cursor: pointer;
    font-size: 1.4rem;
}



main .play {
    display: flex;
    justify-content:center;
    color: var(--btb-border-text);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

